// Footer
@footer-height: 70px;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  background: #FCFCFC url(/imgs/bg.jpg) repeat;
  margin: 0px;
  /* Margin bottom by footer height */
  margin-bottom: @footer-height;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

#content {
  padding-top: 70px;
}

#footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: @footer-height;
  > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.markdown code {
  color: inherit; /* No red code in markdown */
}

ul:not(.navbar-right):not(.navbar-left).navbar-nav.nav {
  margin-left: 0.25em;
}

.nav > li > a {
  padding-left: 5px;
  padding-right: 5px;
}

.user-button {
  max-width: 5em;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.login-link-text {
  display: inline-block;
  width: 10em;
  height: 1.2em;
  white-space: nowrap;
  vertical-align: middle;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@keyframes slideIn {
  from {
    margin-top: -3em;
  }
  to {
    margin-top: 0%;
  }
}

@keyframes pulseWarning {
  0% {
    background-color: auto;
  }
  50% {
    background-color: #f0ad4e;
  }
  100% {
    background-color: auto;
  }
}

.new-user {
  animation-name: pulseWarning;
  animation-duration: 1s;
  animation-play-state: running;
}

.new-user.new-user-id {
  animation: slideIn 1s;
  animation-play-state: running;
  white-space: nowrap;
}
