<template name="home">
  <div class="container">
    <div class="markdown">
      {{#markdown}}
## Introduction

This is a demonstration of the
[`brettle:accounts-deluxe`](https://atmospherejs.com/brettle/accounts-deluxe)
package and the other `brettle:accounts-*` packages that it uses.

The `brettle:accounts-deluxe` package allows a visitor to start using your
application without signing up and then later sign up without losing any work.
It gives all visitors anonymous accounts to which they can add another login
service, and it works with popular accounts user interface packages like
[`accounts-ui`](https://atmospherejs.com/meteor/accounts-ui) and
[`useraccounts:bootstrap`](https://atmospherejs.com/useraccounts/bootstrap). A
suite of packages provides this functionality, with each package
providing a separate feature. If you want finer control over which features your
application uses, then see the [`brettle:accounts-deluxe`
documentation](https://atmospherejs.com/brettle/accounts-deluxe) for information
on which packages to use.

## How to use the demo

At the top of the page, in the navigation bar there are a some user interface
elements to help you use the demo and keep track of what is going on. First,
next to the "ID" label, is your ID associated with your user record. This is
always the value of `currentUser._id`. If you click on the ID, a popover will
display the full user record as seen by the server. This is to help you see what
happens when you add a service, for example. The ID will also animate to notify
you of changes. If the ID itself changes (i.e. you become a new user), then a
new ID will slide down to replace the old ID. If the ID remains the same but the
user record changes (e.g. because you added a login service) the ID will pulse
yellow instead of a new ID sliding down.

Next, to the right of the ID is a red Delete button. Clicking this will delete
your user record from the demo's server and give you a new user record. This is
useful for repeating steps in the demo which involve adding a login service that
isn't associated with an existing account.

Lastly, all the way to the right of the navigation bar is a drop-down labeled
"UI". You can use this to change which accounts user interface package the demo
is using. You can choose between the basic `accounts-ui` package that is part of
the official Meteor platform and the Bootstrap flavor of the fancier
`useraccounts` suite.

Feel free to experiment on your own or follow the guided tour below.

## Guided tour

*Note*: This tour assumes that you don't have any accounts when you start. So,
if you have signed in using any services, be sure to sign in using each of
those services again and click the Delete button to remove any associated
accounts. Also, select `accounts-ui` in the UI drop-down.

1. **Visitor automatically gets anonymous account.** Notice that you have a user
ID and associated account even though you haven't signed in. Click on the ID to
see the user object. Note that it has a "resume" service but no others. This
means that you are an anonymous user and need the token stored in your current
browser to access the account. As expected, if you open the demo in another tab
or window, you will have the same account. If you open it in private window,
that window will get a new account. Clicking the "Delete" button will delete
your account and give you a new one. The
[`brettle:accounts-anonymous-auto`](https://atmospherejs.com/brettle/accounts-anonymous-auto)
package provides the above functionality.

2. **Anonymous user can sign in.** Notice that even though you have an account,
you still have the option to sign in. The
[`brettle:accounts-anonymous-ui`](https://atmospherejs.com/brettle/accounts-anonymous-ui)
package provides this feature by monkey patching the `accounts-ui-unstyled`
package and the `useraccounts` suite to treat anonymous users as signed out.

3. **Anonymous user can add a login service.** Sign in using the
Google or Meteor developer OAuth service, or create an email/password (which you
can make up for the purposes of the demo). Notice that your user ID _does not
change_ but it pulses yellow to show that the user record has changed. If you
click on the ID now, you will see that your new login service appears in
your account. The
[`brettle:accounts-add-service`](https://atmospherejs.com/brettle/accounts-add-service)
package provides this feature and it should work with any login service.

4. **Signing in to an existing non-anonymous account fires a server event.** Now
pretend you want to login to your account from another computer. In a _private_
tab/window or on another computer/browser visit the demo page to get a new
anonymous account, and sign in there using the same login service you used in
the previous step. The ID from previous step (which is still displayed in that
other tab) will replace the ID of the anonymous account. That means that the
anonymous account is now inaccessible. Your application can register an
`onAbandonment` callback that the server will call when this occurs. You could
use this to delete the abandoned account and any data associated with it. The
[`brettle:accounts-anonymous`](https://atmospherejs.com/brettle/accounts-anonymous)
package provides this feature.

5. **Adding/removing OAuth login services with the `useraccounts` UI works.**
Back in the original tab (you can close the other browser/window/tab you used in
the previous step), use the UI drop-down to switch to the `useraccounts` user
interface suite. You will see a new 'Services' tab on the navigaton bar. Click
on the 'Services' tab to see options for adding and removing OAuth login
services associated with your account. The demo app configures the
`useraccounts` user interface suite to show these options, but `useraccounts`
itself does not provide the ability to actually add a service. The
`brettle:accounts-add-service` package fills that role in the demo. To see this,
add an OAuth service other than the one you added earlier. Your ID will not
change but it will pulse yellow to show that the user record has changed. Click
it to see the added service.

6. **Non-anonymous user can't add a login service associated with an existing
account.** Sign out, create an email/password that you haven't used before, and
try to add an OAuth service that is already associated with your earlier
account. A message appears telling you that the service is already associated
with an existing account and that you need to sign out first if you want to
switch to that account. The
[`brettle:accounts-logout-to-switch`](https://atmospherejs.com/brettle/accounts-logout-to-switch)
package provides this feature. Without that package, you would have  switched to
other account without any warning. Another option for this case is to use
[`splendido:accounts-meld`](https://atmospherejs.com/splendido/accounts-meld) to
merge the two accounts.

      {{/markdown}}
    </div>
  </div>
</template>
